<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <i class="fa-solid fa-key login-icon"></i>
      <h2>Reset Password</h2>
      <p class="login-subtext">Enter your email address and we'll send you instructions to reset your password.</p>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "login-form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, class: "form-label" %>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", 
              class: "form-control",
              placeholder: "Enter your email address" %>
        </div>
      </div>

      <%= f.submit "Send Reset Instructions", class: "btn btn-primary w-100" %>
    <% end %>

    <div class="login-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
